@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3,
    "メイリオ", Meiryo, sans-serif;
  /* font-size: 14px; */
  color: #333;
  line-height: 1.9;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  background-color: #f8f9fa;
}

a:hover {
  color: #333;
}
